<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> MACRO DATA </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="dist/jquery.vmap.js"></script>
  <script type="text/javascript" src="dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>
</head>

<body>

  <%- include ('global/header');  %>

  <header>

    <h1>MACRO DATA</h1>
    <h2>This is our macro data </h2>
  </header>

<div id="vmap" style="width: 600px; height: 400px;"></div>

<script>

jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#5c5c5c',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      al: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ak: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[2].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      az: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[3].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ca: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[4].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      co: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[5].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ct: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[6].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      de: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[7].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      dc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[8].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ga: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[9].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      il: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[10].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      in: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[11].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ia: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[12].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ks: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[13].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ky: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[14].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      la: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[15].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      me: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[16].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      md: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[17].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ma: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[18].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      mi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[19].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      mn: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[20].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      mo: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[21].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ne: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[22].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      nv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[23].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      nh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[24].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      nj: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[25].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      nm: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[26].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ny: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[27].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      nc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[28].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      oh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[29].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ok: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[30].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      or: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[31].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      pa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[32].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ri: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[33].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      sc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[34].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      ut: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[35].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      vt: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[36].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      va: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[37].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      wa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[38].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      wv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[39].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
      wi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[40].cells[1].innerHTML.substring(5,7),2)/25) + '%' +")",
    }
  });

});



</script>

<section id="data info">

  <table id="myTable">
      <tr>
        <th>State</th>
        <th>Percent</th>


      </tr>
      <% for(let i=1; i<data.length; i++){ %>
    <tr>
      <% let num = "micro"+(data[i]["number"])+".html" %>
      <td>  <a href=<%=num%>> <%= data[i].state %></a> </td>
      <td><%= data[i].ratio %></td>
    </tr>
    <%}%>

    </table>
  </section>

    <%- include ('global/footer');  %>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

</html>
