<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> MACRO DATA </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="dist/jquery.vmap.js"></script>
  <script type="text/javascript" src="dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>
</head>

<body>

  <%- include ('global/header');  %>

  <header>

    <h1>What states are safest?</h1>
    <div id="opening">
    <p>In our project, we explored deaths by causes such as guns, stabs, poisonings, and suffocatio (aka deaths by unnatural causes) in order to understand in which states you are least likely to meet an untimely death.
      The map below depicts the ratio of deaths by unnatural causes: population for each state, with darker colores being higher ratios.
      Note that Maryland has the highest "ratio" of deaths to population and that Rhode Island has the lowest ratio</p>
    </div>
    <ul>

    <li> We found it really interesting that New York had such a low ratio. This was because even though it had a relatively high number of deaths compared to other states, the deaths were balanced out by its large populatoion.
    We wonder if this lower death rate has to do with gun control, as unlike most states, guns were not the most common method of death in New York. </li>
    <br>
    <li>  It is also interesting that Maryland has such a high death rate, specifically from poisonings. Upon further research, this is due to lead poisoning, and Maryland is making laws to help prevent future deaths. </li>
    <br>
    <li> It makes sense that Rhode Island has such a low ratio as we believe it is known to be a pretty safe place </li>
</ul>
  <div id="click">  <p> Click a state for a more detailed summary! </p> </div>

  </header>

<div id="vmap" style="width: 600px; height: 400px;" >
<%- include ('global/macromap');  %>

</div>
<div id="gradient">
<img src="pictures/key.png" alt="key" width="auto" height="300" style = "position:relative; left:600px; top:-350px;">
</div>
<div id="footer">
<%- include ('global/footer');  %>


<section id="data info">

  <table id="myTable">
      <tr>
        <th>State</th>
        <th>Ratio</th>


      </tr>
      <% for(let i=1; i<data.length; i++){ %>
    <tr>
      <% let num = "micro"+(data[i]["number"])+".html" %>
      <td>  <a href=<%=num%>> <%= data[i].state %></a> </td>

      <td><%= data[i].ratio %></td>
    </tr>
    <%}%>

    </table>
  </section>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

</html>
