<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= data.state %></title>
  <link rel="stylesheet" href="../style.css">

  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <header>
    <a href="../about.html">about page</a>
    <a href="macro.html">macro data</a>


    <h1><%= data.state %> DATA</h1>
    <h2>This is the microdata for <%= data.state %> </h2>
  </header>
  <p> insert map and pi chart </p>

  <section id="data info">
    <table>
      <tr>
        <% for(let i in data){ %>
          <%if(i !== "number"){%>
          <td><%= i %></td>
          <%}}%>
      </tr>
      <tr>
        <% for(let i in data){ %>
          <%if(i !== "number"){%>
          <td><%= data[i] %></td>
          <%}}%>
      </tr>
    </table>
  </section>
  <% let prev = "micro"+(data["number"]-1)+".html" %>
  <% let next = "micro"+(data["number"]+1)+".html" %>
  <% if(data["number"]>1){ %>
  <a href=<%=prev%>>previous page</a>
  <%}%>
  <% if(data["number"]<40){ %>
  <a href=<%=next%>>next page</a>
  <%}%>
  <%- include ('global/footer');  %>

</body>

</html>
