<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>MICRO TESTER</title>
  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <header>
    <h1>MICRO DATA</h1>
  </header>
  <section id="data info">
    <table>
      <tr>
        <th>State</th>
        <th>Total</th>
        <th>Population</th>
        <th>Ratio</th>
        <th>Firearm</th>
        <th>Cut/Pierce</th>
        <th>Struck by/against</th>
        <th>Poisoning</th>
        <th>Hanging/Suffocation</th>
        <th>Fall</th>
        <th>Drowning</th>
        <th>Fire/Burn</th>
        <th>Motor vehicle</th>
        <th>Other</th>
        <th>Unknown</th>
      </tr>
      <tr>
        <td><%= data.state %></td>
        <td><%= data.total %></td>
        <td><%= data.population %></td>
        <td><%= data.ratio %></td>
        <td><%= data.firearm %></td>
        <td><%= data.cutPierce %></td>
        <td><%= data.struckByAgainst %></td>
        <td><%= data.poisoning %></td>
        <td><%= data.hangingSuffocation %></td>
        <td><%= data.fall %></td>
        <td><%= data.drowning %></td>
        <td><%= data.fireBurn %></td>
        <td><%= data.motorVehicle %></td>
        <td><%= data.other %></td>
        <td><%= data.unknown %></td>
      </tr>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
