<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> microdata</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="dist/jquery.vmap.js"></script>
  <script type="text/javascript" src="dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>

</head>

<body>

  <%- include ('global/header');  %>

  <% let myPage = data["page"] %>

  <header>


    <h1><%= data[myPage].state %> Data </h1>
    <h2>This is the microdata for <%= data[myPage].state %> </h2>
  </header>

  <% let avg_rates = parseFloat(data[41].ratio)/40 %>
  <%console.log(avg_rates) %>

  <%let max = 0%>
  <%let method%>


  <% for(let i in data[myPage]){ %>
    <%if (i !== "state"){%>
      <%if (i !== "population"){%>
        <%if (i !== "total"){%>
          <%if (parseInt(data[myPage][i]) > max){%>
            <%max = parseInt(data[myPage][i])%>
            <%method = i%>
    <%}}}}}%>
    <%console.log(max,method) %>

    <%if(method == "firearm"){%>
      <p> the most common method of death by unnatural causes for <%= data[myPage].state %> is a <%=  method %>, which is also the most common method for all states. </p>
    <%}%>
    <%if(method !== "firearm"){%>
      <p> the most common method of death by unnatural causes for <%= data[myPage].state %> is by <%=  method %> , which is interesting because the most common method for all states is a  firearm. </p>
    <%}%>





  <section id="data info">
    <table id="myTable">
      <tr>
        <% for(let i in data[myPage]){ %>
          <%if(i !== "number"){%>
          <td><%= i %></td>
          <%}}%>
      </tr>
      <tr>
        <% for(let i in data[myPage]){ %>
          <%if(i !== "number"){%>
          <td><%= data[myPage][i] %></td>
          <%}}%>
      </tr>

    </table>
    <br>
  <div id="vmap" style="width: 600px; height: 400px;">
    <script>

  let str = document.querySelector("h1").innerText



if(str == "Alabama Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',

        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          al: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Alaska Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ak: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Arizona Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          az: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "California Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ca: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Colorado Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          co: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Connecticut Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ct: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Delaware Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          de: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "District of Columbia Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          dc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Georgia Data"){
    jQuery(document).ready(function() {
       jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ga: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}



if(str == "Illinois Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          il: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Indiana Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          in: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Iowa Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ia: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Kansas Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ks: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Kentucky Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ky: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Louisiana Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          la: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Maine Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          me: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Maryland Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          md: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Massachusetts Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ma: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Michigan Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Minnesota Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mn: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Missouri Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mo:'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Nebraska Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ne: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Nevada Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "New Hampshire Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "New Jersey Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nj: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "New Mexico Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nm: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "New York Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ny: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "North Carolina Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Ohio Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          oh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Oklahoma Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ok: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Oregon Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          or: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Pennsylvania Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          pa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Rhode Island Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ri: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "South Carolina Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          sc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Utah Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ut: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Vermont Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          vt: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Virginia Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          va: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Washington Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "West Virginia Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

if(str == "Wisconsin Data"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#FFFFFF',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("myTable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
        }
      });
    });
}

    </script>
  </div>
    <div id="myDiv">
    <script>

for(var i=2;i<10;i++){
    var pie = [{
      values: [document.getElementById("myTable").rows[1].cells[4].innerHTML, document.getElementById("myTable").rows[1].cells[5].innerHTML, document.getElementById("myTable").rows[1].cells[6].innerHTML, document.getElementById("myTable").rows[1].cells[7].innerHTML,
      document.getElementById("myTable").rows[1].cells[8].innerHTML, document.getElementById("myTable").rows[1].cells[9].innerHTML, document.getElementById("myTable").rows[1].cells[10].innerHTML, document.getElementById("myTable").rows[1].cells[11].innerHTML,
      document.getElementById("myTable").rows[1].cells[12].innerHTML, document.getElementById("myTable").rows[1].cells[13].innerHTML, document.getElementById("myTable").rows[1].cells[14].innerHTML],
      labels: ['Firearm','Cut/Pierce','Struck by/against','Poisoning','Hanging/Suffocation','Fall','Drowning','Fire/Burn','Motor vehicle','Other','Unknown'],
      type: 'pie'
    }];

    var layout = {
      height: 400,
      width: 500
    };

Plotly.newPlot('myDiv', pie, layout);
}



    </script>
</div>





  </section>


  <% let prev = "micro"+(data[myPage].number-1)+".html" %>
  <% let next = "micro"+(data[myPage].number+1)+".html" %>
  <% console.log(prev) %>


  <% if(data[myPage].number>1){ %>


    <a class="btn btn-outline-info" href=<%=prev%> role="button">previous page</a>
  <%}%>
  <% if(data[myPage].number<40){ %>
    <a class="btn btn-outline-info" href=<%=next%> role="button">next page</a>
  <%}%>

  <%- include ('global/footer');  %>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

</html>
