<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> microdata</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="dist/jquery.vmap.js"></script>
  <script type="text/javascript" src="dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>

</head>

<body>

  <%- include ('global/header');  %>

  <% let myPage = data["page"] %>

  <header>


    <h1><%= data[myPage].state %> Data </h1>
    <h2>This is the microdata for <%= data[myPage].state %> </h2>
  </header>

  <% let avg_rates = parseFloat(data[41].ratio)/40 %>
  <%console.log(avg_rates) %>

  <%let max = 0%>
  <%let method%>


  <% for(let i in data[myPage]){ %>
    <%if (i !== "state"){%>
      <%if (i !== "population"){%>
        <%if (i !== "total"){%>
          <%if (parseInt(data[myPage][i]) > max){%>
            <%max = parseInt(data[myPage][i])%>
            <%method = i%>
    <%}}}}}%>
    <%console.log(max,method) %>

    <%if(method == "firearm"){%>
      <p> the most common method of death by unnatural causes for <%= data[myPage].state %> is a <%=  method %>, which is also the most common method for all states. </p>
    <%}%>
    <%if(method !== "firearm"){%>
      <p> the most common method of death by unnatural causes for <%= data[myPage].state %> is by <%=  method %> , which is interesting because the most common method for all states is a  firearm. </p>
    <%}%>





  <section id="data info">
    <table id="myTable">
      <tr>
        <% for(let i in data[myPage]){ %>
          <%if(i !== "number"){%>
          <td><%= i %></td>
          <%}}%>
      </tr>
      <tr>
        <% for(let i in data[myPage]){ %>
          <%if(i !== "number"){%>
          <td><%= data[myPage][i] %></td>
          <%}}%>
      </tr>

    </table>
    <br>
  <div id="vmap" style="width: 600px; height: 400px;">
    <script>

    let str = document.querySelector("h1").innerText

if(str == "Alabama DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          al: "#ff5953"
        }
      });
    });
}

if(str == "Alaska DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ak: '#e70800'
        }
      });
    });
}

if(str == "Arizona DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          az: '#ff6f6a'
        }
      });
    });
}

if(str == "California DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ca: '#ffcdcb'
        }
      });
    });
}

if(str == "Colorado DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          co: '#ff6f6a'
        }
      });
    });
}

if(str == "Connecticut DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ct: '#ffd8d7'
        }
      });
    });
}

if(str == "Delaware DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          de: '#ffcdcb'
        }
      });
    });
}

if(str == "District of Columbia DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          dc: 'black'
        }
      });
    });
}

if(str == "Georgia DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ga: '#ff9793'
        }
      });
    });
}

if(str == "Illinois DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          il: '#ffb7b5'
        }
      });
    });
}

if(str == "Indiana DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          in: '#ff8480'
        }
      });
    });
}

if(str == "Iowa DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ia: '#ffb7b5'
        }
      });
    });
}

if(str == "Kansas DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ks: '#ff8480'
        }
      });
    });
}

if(str == "Kentucky DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ky: '#ff8d89'
        }
      });
    });
}

if(str == "Louisiana DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          la: '#ff4d47'
        }
      });
    });
}

if(str == "Maine DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          me: '#ff9f9c'
        }
      });
    });
}

if(str == "Maryland DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          md: '#4e0300'
        }
      });
    });
}

if(str == "Massachusetts DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ma: '#ffdedd'
        }
      });
    });
}

if(str == "Michigan DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mi: "#ff7a75"
        }
      });
    });
}

if(str == "Minnesota DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mn: '#ffd3d1'
        }
      });
    });
}

if(str == "Missouri DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          mo: '#ff423b'
        }
      });
    });
}

if(str == "Nebraska DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ne: '#ffcdcb'
        }
      });
    });
}

if(str == "Nevada DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nv: '#ff5953'
        }
      });
    });
}

if(str == "New Hampshire DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nh: "#ffa8a5"
        }
      });
    });
}

if(str == "New Jersey DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nj: '#ffe3e2'
        }
      });
    });
}

if(str == "New Mexico DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nm: '#ff1b13'
        }
      });
    });
}

if(str == "New York DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ny: '#ffdedd'
        }
      });
    });
}

if(str == "North Carolina DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          nc: '#ffa8a5'
        }
      });
    });
}

if(str == "Ohio DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          oh: '#ff9793'
        }
      });
    });
}

if(str == "Oklahoma DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ok: '#ff645f'
        }
      });
    });
}

if(str == "Oregon DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          or: '#ff9793'
        }
      });
    });
}

if(str == "Pennsylvania DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
    borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          pa: '#ff9793'
        }
      });
    });
}

if(str == "Rhode Island DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ri: '#ffe3e2'
        }
      });
    });
}

if(str == "South Carolina DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          sc: '#ff8d89'
        }
      });
    });
}

if(str == "Utah DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          ut: '#ff8d89'
        }
      });
    });
}

if(str == "Vermont DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          vt: '#ff7a75'
        }
      });
    });
}

if(str == "Virginia DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          va: '#ffb7b5'
        }
      });
    });
}

if(str == "Washington DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
        borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wa: '#ffb0ad'
        }
      });
    });
}

if(str == "West Virginia DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wv: '#ff4e47'
        }
      });
    });
}

if(str == "Wisconsin DATA"){
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: '#5c5c5c',
        selectedColor: null,
        color: '#a8a8a8',
        map: 'usa_en',
        borderWidth: 2,
      borderColor: 'black',
        hoverOpacity: .5,
        colors: {
          wi: '#ffb7b5'
        }
      });
    });
}

    </script>
  </div>
    <div id="myDiv">
    <script>

for(var i=2;i<10;i++){
    var pie = [{
      values: [document.getElementById("myTable").rows[1].cells[4].innerHTML, document.getElementById("myTable").rows[1].cells[5].innerHTML, document.getElementById("myTable").rows[1].cells[6].innerHTML, document.getElementById("myTable").rows[1].cells[7].innerHTML,
      document.getElementById("myTable").rows[1].cells[8].innerHTML, document.getElementById("myTable").rows[1].cells[9].innerHTML, document.getElementById("myTable").rows[1].cells[10].innerHTML, document.getElementById("myTable").rows[1].cells[11].innerHTML,
      document.getElementById("myTable").rows[1].cells[12].innerHTML, document.getElementById("myTable").rows[1].cells[13].innerHTML, document.getElementById("myTable").rows[1].cells[14].innerHTML],
      labels: ['Firearm','Cut/Pierce','Struck by/against','Poisoning','Hanging/Suffocation','Fall','Drowning','Fire/Burn','Motor vehicle','Other','Unknown'],
      type: 'pie'
    }];

    var layout = {
      height: 400,
      width: 500
    };

Plotly.newPlot('myDiv', pie, layout);
}



    </script>
</div>





  </section>


  <% let prev = "micro"+(data[myPage].number-1)+".html" %>
  <% let next = "micro"+(data[myPage].number+1)+".html" %>
  <% console.log(prev) %>


  <% if(data[myPage].number>1){ %>


    <a class="btn btn-outline-info" href=<%=prev%> role="button">previous page</a>
  <%}%>
  <% if(data[myPage].number<40){ %>
    <a class="btn btn-outline-info" href=<%=next%> role="button">next page</a>
  <%}%>

  <%- include ('global/footer');  %>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

</html>
